@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.contactUsBtn
{
    padding: .5rem 1rem;
    margin: 50vh auto;
    font-family: 'Oswald',sans-serif;
    font-size: 2rem;
    font-weight: 300;
    border-style: hidden;
    border-radius: .4rem;
    transition: background-color .3s;
    background-color: #fff;
    color: #000;
    z-index: 10;
}
.background {
    background-color: rgb(33,37,41);
    height: 100vh;
    width: 100%;
    text-align: center;
    opacity: 1;
}

.contactUsBtn:hover{
    transform: scale(1.08, 1.08);
    box-shadow: 5px 5px 5px #888888;
}