body{
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.popupWindow{
    padding-top: 2rem;
    position: absolute;
    top: 9vw;
    left: 25vw;
    width: 50%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15 ease-out;
    background-color: #FBFFFF;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 5px white;
}

.show{
    transform: translateY(0rem);
    opacity: 100%;
    visibility: visible;
    transition: all 0.15s ease-out;
}

.hide{
    transform: translateY(-100vh);
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-out;
}


.contactUsForm {
    padding: 1rem 5rem 5rem 5rem;
    text-align: center;
}

.contactUsForm p{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin: 30px;
}

.labelInput {
    transition: all .5s;
    width: 20rem;
    
}

.labels{
    font-size: 0.7em;
    color: #aaa;
    display: block;
    opacity: 1;
    transform: translateY(-2em);
    transform-origin:0 0 ;
    transition: all .5s;
    text-align: left;
}

.inputFields {
    box-shadow: none;
    background-color: rgba(0,0,0,.02);
    border-radius: 0px;
    border-color: white;
    border-style: none none solid none;
    border-bottom-color: #aaa;
    width: 100%;
    transition:all .3s;
    padding: 12px;
    margin: 10px;
    transform: translateX(-0.8rem);
}

.inputFields::placeholder{
    color: transparent;
}

.inputFields:focus{
    box-shadow: none;
    outline: none;
    border-color: rgb(43, 143, 224);
}

.labelInput:focus-within{
    transform: scale(1.05, 1.05);
}

.inputFields:focus + .labels,
.inputFields:not(:placeholder-shown) + .labels
{
    transform: translateY(-3.8em) scale(.9);
}


.buttonGroup{
    padding: 2rem 0 0 0;
    text-align: center;

}

.contactMe {
    padding: .7rem 4rem;
    color: #ffffff;
    border-style: hidden;
    border-radius: .4rem;
    background-color: rgb(43, 143, 224);
    transition: background-color .3s;
    box-shadow: 5px 5px 5px #888888;
    font-family: 'Oswald', sans-serif;
    font-weight:900;

}

.contactMe:hover{
    background-color: rgb(33, 37, 41);
    color: #ffffff;
    transform: scale(1.05, 1.05);

}

@media (max-width: 880px) and (min-width: 700px){
    .popupWindow{
        left: 15vw;
        top: 12vw;
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 699px) and (min-width: 600px){
    .popupWindow{
        width: 85%;
        left: 8vw;
        top: 17vw;
    }
}

@media (max-width: 599px){
    .popupWindow{
        width: 80%;
        left: 11vw;
        top: 20vw;
    }
}